
@{
    ViewBag.Title = "AboutSmartRebalance";
    Layout = "~/Views/shared/layout.cshtml";
}

<div class="well_sh">
    <h2>About Smart Rebalance Strategy</h2>
</div>


<div class="well_sh">
   
        <div id="73025672135">
        <script type="text/JavaScript" src="https://www.aparat.com/embed/g839ot5?data[rnddiv]=73025672135&data[responsive]=yes"></script></div>
   
</div>
   
